{{#ted-subnav}}
  {{ted-subnav-item 'Do something' onClick=(action (mut someVar))}}
  {{#ted-subnav-item onClick=(action (mut anotherVar))}}
    <i class='fa fa-plus'></i> New transfer
  {{/ted-subnav-item}}
{{/ted-subnav}}

<h1>Um, the conference</h1>